body {
    background-color: #141414;
    color: white;
}

.header {
    position: relative;
    height: 710px;
    margin: 0;
    padding: 0;
}

.headerTitle{
    min-width: 100%;
    position: relative;
    text-align: center;
    padding-top: 10%;
}

.bgphoto {
    position: absolute;

    left: auto;
    right: 15%;
    opacity: 1%;
}

.next {

    height: 500px;
    background-color: #141414;
}